@import '~material-design-icons/iconfont/material-icons.css';

.mt-2{
 margin-top: 2% !important;
}
.mr-2{
    margin-right: 2% !important;
}
.ml-2{
    margin-left: 2% !important;
}
.mb-2{
    margin-bottom: 2% !important;
}